/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 24, 2023, 11:11:36 AM
    Author     : Administrator
*/

ul#suggest {
    list-style-type: none;
    height: 100px;
    overflow: auto;
    display: none;
}

ul#suggest > li {
    z-index: 999;
}

ul#suggest > li > a {
    text-decoration: none;
}

#load_userId_js {
    display: none;
}

div.body {
    display: flex;
    padding: 0 3em;
}

div.body.body__left {
    width: 50%;
}

div.body.body__right {
    width: 50%;

}


.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover,
.drop-container.drag-active {
    background: #eee;
    border-color: #111;
}

.drop-container:hover .drop-title,
.drop-container.drag-active .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #5a2c1e;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

#googleMap > div  {
    text-align: center;
    margin: 1em 0;
}

#googleMap > div > label {
    font-weight: bold;
}



